# git rm -r --cached "name"
# Object files
*.o

# Executable
minishell

# Library
*.a

# Build directories
libft/lib/
libft/objs/
.vscode/
# .docs/
minishell_tester
.nfs000000000083bc5a00000002
*.log
*.summary
